{% extends 'index.html' %}

{% load static %}

{% block intermedio %}
{% endblock %}

<!-- Main -->
{% block cuerpo %}
    <div class="d-flex justify-content-between">
        <div class="contenedor_visualizar d-flex flex-wrap">
            {% if forms|length >= 1 %}
                {% for i in forms %}
                    <div class="card m-2" style="width: 18rem;">
                        <img src="{{ i.producto.imagen_producto.url }}" class="card-img-top" alt="Imagen BD">
                        <div class="card-body">
                            <h4 class="card-title">Nombre: {{ i.producto.nom_producto }}</h4>
                            <h5 class="card-text">${{ i.producto.precio_producto }}</h5>
                            <h5 class="card-text">Cantidad: {{ i.cantidad }}</h5>
                            <a href="{% url 'payment' i.pk_carritodet  %}" class='btn btn-warning shadow-0'> Comprar </a>
                        </div>
                        <form action="{% url 'modificar_cantidad' i.pk_carritodet %}" method="post">
                            {% csrf_token %}
                            <input type="number" name="quantity" value="{{ i.cantidad }}" min="1" max="{{ i.producto.stock }}" required class="form-control mb-2">
                            <button type="submit" class="btn btn-primary">Modificar Cantidad</button>
                        </form>
                        <a class="btn" href="{% url 'carritoE' i.pk_carritodet %}">Eliminar</a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">No tienes productos añadidos al carrito!</h5>
                        <h5 class="card-title">Dirígete a la zona de productos para poder comenzar a comprar.</h5>
                    </div>
                    <a class="btn btn-danger" href="{% url 'visualizar' %}" role="button">Ver Productos</a>
                </div>
            {% endif %}
        </div>

        <!-- Botón para comprar todo el carrito -->
        <div class="d-flex align-items-center" style="background-color: #f2f2f2; border-radius: 30px; padding: 0px 30px 0 30px;">
            <div class="text-center mt-4">
                <h4 class="subtitulo_index mb-3" style="border-bottom: 2px solid #2b2b2b;">Pagar</h4>
                    <a href="{% url 'paymentfull' %}" class='btn btn-success'> Comprar Todo el Carrito </a>
            </div>
        </div>
    </div>
{% endblock %}