{% extends 'index.html' %}

    {% load static %}

    {% block intermedio %}
    {% endblock %}

    <!-- Main -->
    {% block cuerpo %}
    <div class="mb-3" style="max-width: 60vw; display: flex; margin: auto; justify-content: center; flex-direction: column;">
        <form action="{% url 'gmail' %}" method="post">
            {% csrf_token %}
        <label for="" class="form-label">Nombre</label>
        <input
            type="text"
            class="form-control"
            name="nombre"
            id=""
            aria-describedby="helpId"
            placeholder=""
        />
        <label for="" class="form-label">Email</label>
        <input
            type="email"
            class="form-control"
            name="email"
            id=""
            aria-describedby="helpId"
            placeholder=""
        />
        <label for="" class="form-label">Asunto</label>
        <input
            type="text"
            class="form-control"
            name="asunto"
            id=""
            aria-describedby="helpId"
            placeholder=""
        />
        <label for="" class="form-label">Mensaje</label>
        <input
            type="text"
            class="form-control"
            name="mensaje"
            id=""
            aria-describedby="helpId"
            placeholder=""
        />
        <input
            name=""
            id=""
            class="btn btn-primary"
            type="submit"
            value="Enviar"
        />
        
    </form>
    </div>
    

    {% endblock %}