{% extends 'index.html' %}

    {% load static %}

    {% block intermedio %}
    {% endblock %}

    <!-- Main -->
    {% block cuerpo %}
        <div class="contenedor_visualizar">
            <!-- 
                i-- Variable para el conteo
                forms -- Palabra enviada desde "Data" para Traer los Datos
                for -- Ciclo por Conteo
                Desde el Primer Elemento hasta el Ultimo elemento
            -->
            {% for i in forms %}
            <section class="py-5">
                <div class="container">
                  <div class="row gx-5">
                    <aside class="col-lg-6">
                      <div class="border rounded-4 mb-3 d-flex justify-content-center">
                        <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image">
                          <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{i.imagen_producto.url}}">
                        </a>
                      </div>
                      {% if i.Imagenes %}
                      <div class="d-flex justify-content-center mb-3">
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image">
                          <img width="60" height="60" class="rounded-2" src="{{i.Imagenes.first.Imagen.url}}">
                        </a>
                      </div>
                      {% endif %}
                      <!-- thumbs-wrap.// -->
                      <!-- gallery-wrap .end// -->
                    </aside>
                    <main class="col-lg-6">
                      <div class="ps-lg-3">
                        <h4 class="title text-dark">
                            {{i.nom_producto}}
                        </h4>
                        <div class="d-flex flex-row my-3">
                          <div class="text-warning mb-1 me-2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                          </div>
                          {% if i.stock_producto > 0 %}
                          <span class="text-success ms-2">En stock</span>
                        </div>
                          {% endif %}
                        <div class="mb-3">
                          <span class="h5">${{i.precio_producto}}</span>
                          <span class="text-muted">/por producto</span>
                        </div>
              
                         {{i.desc_producto|safe}}
              
                        <hr>
              
                        <div class="row mb-4">
                          <!-- col.// -->
                          <div class="col-md-4 col-6 mb-3">
                            <label class="mb-2 d-block">Quantity</label>
                            <div class="input-group mb-3" style="width: 170px;">
                              <input type="number" aria-valuemin="1" min="1" name="quantity" max="{{i.stock_producto}}" class="form-control text-center border border-secondary" placeholder="1" aria-label="Cantidad" aria-describedby="button-addon1">
                            </div>
                            <span class="text-muted">{{i.stock_producto}} Disponibles</span>

                          </div>
                        </div>
                        <a href="{% url 'comprar' i.id_producto 1 %}" class="btn btn-warning shadow-0"> Comprar </a>
                        <a href="{% url 'compcarrito' i.id_producto %}" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Añadir al Carrito </a>
                        <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i class="me-1 fa fa-heart fa-lg"></i> Añadir a Favoritos </a>
                      </div>
                    </main>
                  </div>
                </div>
              </section>
        {% endfor %}
        </div>
    {% endblock %}