{% extends 'index.html' %}
{% load static %}

{% block intermedio %}
{% endblock %}

<!-- Main -->
{% block cuerpo %}
    <div class="container py-5">
        <section class="mb-5">
            <div class="row gx-5">
                <aside class="col-lg-6 mb-4">
                    <div class="border rounded-4 d-flex justify-content-center">
                        <a id="main-image-link" data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image">
                            <img id="main-image" width="300" height="300" object-fit="cover" class="img-fluid rounded-4" src="{{ producto.imagen_producto.url }}" alt="{{ producto.nom_producto }}">
                        </a>
                    </div>
                    {% if producto.Imagenes.all %}
                        <div class="d-flex justify-content-center mt-3">
                        {% for img in producto.Imagenes.all %}
                            <img width="60" height="60" class="rounded-2" src="{{ img.Imagen.url }}" alt="{{ producto.nom_producto }}" onclick="updateMainImage('{{ img.Imagen.url }}')">
                        {% endfor %}
                        </div>
                    {% endif %}
                </aside>
                
                <script type='text/javascript'>
                    function updateMainImage(imageUrl) {
                        // Cambia la imagen principal al hacer clic en una miniatura
                        document.getElementById('main-image').src = imageUrl;
                        document.getElementById('main-image-link').href = imageUrl; // Actualiza el enlace del lightbox
                    }
                </script>
                <main class="col-lg-6">
                    <div class="ps-lg-3">
                        <h4 class="title text-dark">{{producto.nom_producto}}</h4>
                        <div class="d-flex flex-row my-3">
                            {% if producto.stock_producto > 0 %}
                            <span class="text-success ms-2">En stock</span>
                            {% else %}
                            <span class="text-danger ms-2">Sin stock</span>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <span class="h5">${{producto.precio_producto}}</span>
                            <span class="text-muted">/por producto</span>
                        </div>

                        {{producto.desc_producto|safe}}

                        <hr>

                        <!-- Formulario para Comprar -->
                        <form action="{% url 'compcarrito' producto.id_producto %}" method='post'>
                            {% csrf_token %}
                            <div class="row mb-4 align-items-center">
                                <label class="col-md-4 col-form-label">Cantidad</label>
                                <div class="col-md-8">
                                    <div class="input-group mb-3">
                                        <input type="number" name="quantity"
                                               min="1" max="{{producto.stock_producto}}"
                                               id="quantity_{{ producto.id_producto }}"
                                               value='1'
                                               onchange="updateBuyButton({{ producto.id_producto }})"
                                               class="form-control text-center border border-secondary"
                                               placeholder="1" aria-label="Cantidad"
                                               aria-describedby="button-addon1">
                                        <!-- Botón para Añadir al Carrito -->
                                        <button type='submit' id='agregar_button_{{ producto.id_producto }}' 
                                                class='btn btn-primary shadow-0'>
                                            <i class='me-1 fa fa-shopping-basket'></i> Añadir al Carrito 
                                        </button>
                                    </div>
                                    <span class="text-muted">{{producto.stock_producto}} Disponibles</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </main>
            </div>
        </section>
    </div>

    <!-- JavaScript para actualizar el valor de la cantidad en el formulario del carrito -->
    <script type='text/javascript'>
        function updateBuyButton(productId) {
            const quantity = document.getElementById(`quantity_${productId}`).value;
            document.getElementById(`carrito_quantity_${productId}`).value = quantity;
        }
    </script>

{% endblock %}