<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Login</title>
</head>
<body>
    <div class="contendor_login" style="background-color: #b9b9b9;">
        <img src="static '../../../../static/img/index/panda.png" style="background-color: #dfdfdf; padding: 30px; border-radius: 30px;" alt="Logo de la marca">
        <form action="" method="post" style="background-color: #dfdfdf;">
           <div class="logo_login">
           </div>
            <h1 style="color: #000">Login</h1>
            {% csrf_token %} 
            {{ form }}
            
            <!-- Enlace para registrarse -->
            <p class="registro_enlace">¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
            
            <input class="btn_login" type="submit" value="Login">
        </form>
    </div>
</body>
</html>
